<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>County Sports</title>
		<meta name="description" content="County Sports">
		<meta name="keywords" content="One of the Best Cricket Academies in Delhi">
    
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400" rel="stylesheet">

		<link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/cca-icons/font/flaticon.css">

    <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">
    
    
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">

    <link rel="stylesheet" href="/css/helpers.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="manifest" href="/manifest.json" />
	</head>
	<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">
    
    <nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
      <div class="container">
        <a class="navbar-brand" href="#section-home">County Sports</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="ion-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#section-home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-why-us">Services</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-practicing-areas">Cricket and Education</a></li>
            <!--P-->
            <!--T-->
            <li class="nav-item"><a class="nav-link" href="#section-contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <section class="pb_cover_v1 text-left cover-bg-black cover-bg-opacity-4" style="background-image: url(/images/1900x1200_img_7.jpg)" id="section-home">
      <div class="container">
        <div class="row align-items-center justify-content-end">
          <div class="col-md-6  order-md-1">

            <h2 class="heading mb-3">Best or Nothing</h2>
            <div class="sub-heading"><p class="mb-5">Recognized by <a href="https://www.ddca.in/" target="_blank">DDCA</a>.</p>
            <p><a href="#section-contact" role="button" class="btn smoothscroll pb_outline-light btn-xl pb_font-13 p-4 rounded-0 pb_letter-spacing-2">Let's chat</a></p>
            </div>
            
          </div>  
        </div>
      </div>
    </section>
    <!-- END section -->
    
    
    <section class="pb_section pb_section_v1" data-section="about" id="section-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 pr-md-5 pr-sm-0">
            <h2 class="mt-0 heading-border-top mb-3 font-weight-normal">Who We Are</h2>
            <p>We started in 2011 and since then we are trying very hard for players and organizing to match high standards. Our expertise lies in taking care of even the minutest detail with utmost precision.</p>
            <p>A team of dedicated coaches works tirelessly to hone the skills of our students and the results are for everyone to see. County cricket academy’s aim is to promote healthy lifestyles by providing different platforms to different individuals from different walks of life. </p>
            <p>We try to give 100% placement assistance to every candidate so we are not just an another academy we are a carrier counselor in all departments of cricket and other sports. We have one of the best infrastructure in the city, equipped with 2 practice turf and 2 cement wickets along With 1 special wicket. <p>
            <p>We take only 36 dedicated players for one season <br>(1 year), selection through Open trial. County Cricket Academy is dedicated towards those players who worship his/her sports. You can click on Events for up coming events and open trial timings.</p>
          </div>
          <div class="col-lg-7">
            <div class="images">
              <picture class="img1 img-fluid">
                <source media="(min-width: 800px)" srcset="/images/600x450_3.jpg, /images.650x450_3-2x.jpg 2x">
                <source media="(min-width: 450px)" srcset="/images/600x450_3-small.jpg, /images.650x450_3-small-2x.jpg 2x">
                <img src="/images/600x450_3.jpg" alt="alt text">
              </picture>
              <picture class="img2">
                <source media="(min-width: 800px)" srcset="/images/800x500_7.jpg, /images.800x500_7-2x.jpg 2x">
                <source media="(min-width: 450px)" srcset="/images/800x500_7-small.jpg, /images.800x500_7-small-2x.jpg 2x">
                <img src="/images/800x500_7.jpg" alt="alt text">
              </picture>
            </div>
          </div>
        </div>
      </div>  
    </section>
    <!-- END section -->

    
    <section class="pb_section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="media pb_media_v2 d-block text-center mb-3">
              <div class="icon border border-gray rounded-circle d-block mr-3 display-4 mx-auto mb-4"><i class="flaticon text-secondary flaticon-tree"></i></div>
              <div class="media-body">
                <h3 class="mt-0 pb_font-20">100% natural environment</h3>
                <p>Proper ground with lush green outfield. Playing wicket made of proper cricket standards by sub-curator of Arun Jaitley Stadium</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="media pb_media_v2 d-block text-center  mb-3">
              <div class="icon border border-gray rounded-circle d-flex mr-3 display-4 mx-auto mb-4"><i class="flaticon text-secondary flaticon-school-2"></i></div>
              <div class="media-body">
                <h3 class="mt-0 pb_font-20">NIS Qualified Coaches</h3>
                <p>Bowling action analysis, Bowling rehab programs, special designed fitness program, dedicated fielding practise.</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="media pb_media_v2 d-block text-center  mb-3">
              <div class="icon border border-gray rounded-circle d-flex mr-3 display-4 mx-auto mb-4"><i class="flaticon text-secondary flaticon-money"></i></div>
              <div class="media-body">
                <h3 class="mt-0 pb_font-20">Guarantee or Money Back</h3>
                <p>108 matches in one year (Test, 1-day and T-20), in a competitive manner to handle pressure.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
      
    <section class="pb_sm_py_cover text-center cover-bg-black cover-bg-opacity-4" style="background-image: url(/images/1900x1200_img_3.jpg)">
      <div class="container">

        <div class="row align-items-center">
          <div class="col-md-12">
            <h2 class="heading mb-3">For Individual Players</h2>
            <p class="sub-heading mb-5 pb_color-light-opacity-8">If you are a player or a team who wants to play one-day, T20 or test matches, contact us we'll set it up for you.</p>
            <p><a href="#section-contact" role="button" class="btn smoothscroll pb_outline-light p-3 rounded-0 pb_font-13 pb_letter-spacing-2">Get Started</a></p>
          </div>  
        </div>

      </div>
    </section>
    <!-- END section -->

    <section class="pb_section" data-section="why-us" id="section-why-us">
      <div class="container">
        <div class="row justify-content-md-center text-center mb-5">
          <div class="col-lg-7">
            <h2 class="mt-0 heading-border-top font-weight-normal">Why Us</h2>
            <p>Too many young, talented cricketers are given no opportunity to improve their game following representative side rejection. There are thousands of children out there who need a stepping stone back into the game, to boost their confidence and improve their technique. We ought to be that stepping stone.</p>
            
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7">
            <div class="images right">
              <picture class="img1 img-fluid">
                <source media="(min-width: 800px)" srcset="/images/600x450_12.jpg, /images.600x450_12-2x.jpg 2x">
                <source media="(min-width: 450px)" srcset="/images/600x450_12-small.jpg, /images.600x450_12-small-2x.jpg 2x">
                <img src="/images/600x450_12.jpg" alt="alt text">
              </picture>
              <picture class="img2">
                <source media="(min-width: 800px)" srcset="/images/800x500_img_1.jpg, /images.800x500_img_1-2x.jpg 2x">
                <source media="(min-width: 450px)" srcset="/images/800x500_img_1-small.jpg, /images.800x500_img_1-small-2x.jpg 2x">
                <img src="/images/800x500_img_1.jpg" alt="alt text">
              </picture>
            </div>
          </div>
          <div class="col-lg-5 pl-md-5 pl-sm-0">
            <div id="exampleAccordion" class="pb_accordion" data-children=".item">
              <div class="item">
                <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1" class="pb_font-18">For Batsman</a>
                <div id="exampleAccordion1" class="collapse show" role="tabpanel">
                  <p>How to start an innings, rotating the strike, hitting in gaps, scoring off good balls, batting under intense pressure, assessing the bowlers plan/strengths and how to build an innings and much more.</p>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="false" aria-controls="exampleAccordion2" class="pb_font-18">For Bowlers</a>
                <div id="exampleAccordion2" class="collapse" role="tabpanel">
                  <p>Assessing a batters strengths and weaknesses , In swing, Out swing, Reverse Swing, featuring thorough , training techniques and strategies to improve quicker balls, flippers, finger-spin, wrist-spin, top-spin, wrong-one, arm-ball tactics and much more.</p>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion3" aria-expanded="false" aria-controls="exampleAccordion3" class="pb_font-18">For Fielding</a>
                <div id="exampleAccordion3" class="collapse" role="tabpanel">
                  <p>Making direct hits on the stumps,catching on the move, team-plays, diving to stop, diving to catch, hip throws, crossover throws, flick throws, dive, analyzing one to one throwing action and advanced fielding skills and strategies much more.</p>
                </div>
              </div>
              <div class="item">
                <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion4" aria-expanded="false" aria-controls="exampleAccordion4" class="pb_font-18">For Wicket Keeping</a>
                <div id="exampleAccordion4" class="collapse" role="tabpanel">
                  <p>Footwork, glove-work, diving to catch, diving to stop, diving to throw including drills designed to improve foot and hand speeds and all round reaction times much more.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    
    <section class="pb_section">
      <div class="multiple-items pb_slide_v1">
        <div class="link-block">
          <picture class="img-fluid">
            <source media="(min-width: 800px)" srcset="/images/1900x1200_2.jpg, /images.1900x1200_2-2x.jpg 2x">
            <source media="(min-width: 450px)" srcset="/images/1900x1200_2-small.jpg, /images.1900x1200_2-small-2x.jpg 2x">
            <img src="/images/1900x1200_2.jpg" alt="alt text">
          </picture>
          <div class="slide-text">
            <h2>Photo 1</h2>
            <span>desc</span>
          </div>
        </div>
        <div class="link-block">
          <picture class="img-fluid">
            <source media="(min-width: 800px)" srcset="/images/1900x1200_4.jpg, /images.1900x1200_4-2x.jpg 2x">
            <source media="(min-width: 450px)" srcset="/images/1900x1200_4-small.jpg, /images.1900x1200_4-small-2x.jpg 2x">
            <img src="/images/1900x1200_4.jpg" alt="alt text">
          </picture>
          <div class="slide-text">
            <h2>Photo 2</h2>
            <span>desc</span>
          </div>
        </div>
        <div class="link-block">
          <picture class="img-fluid">
            <source media="(min-width: 800px)" srcset="/images/1900x1200_5.jpg, /images.1900x1200_5-2x.jpg 2x">
            <source media="(min-width: 450px)" srcset="/images/1900x1200_5-small.jpg, /images.1900x1200_5-small-2x.jpg 2x">
            <img src="/images/1900x1200_5.jpg" alt="alt text">
          </picture>
          <div class="slide-text">
            <h2>Photo 3</h2>
            <span>desc</span>
          </div>
        </div>
        <div class="link-block">
          <picture class="img-fluid">
            <source media="(min-width: 800px)" srcset="/images/1900x1200_9.jpg, /images.1900x1200_9-2x.jpg 2x">
            <source media="(min-width: 450px)" srcset="/images/1900x1200_9-small.jpg, /images.1900x1200_9-small-2x.jpg 2x">
            <img src="/images/1900x1200_9.jpg" alt="alt text">
          </picture>
          <div class="slide-text">
            <h2>Photo 4</h2>
            <span>desc</span>
          </div>
        </div>
        <div class="link-block">
          <picture class="img-fluid">
            <source media="(min-width: 800px)" srcset="/images/1900x1200_11.jpg, /images.1900x1200_11-2x.jpg 2x">
            <source media="(min-width: 450px)" srcset="/images/1900x1200_11-small.jpg, /images.1900x1200_11-small-2x.jpg 2x">
            <img src="/images/1900x1200_11.jpg" alt="alt text">
          </picture>
          <div class="slide-text">
            <h2>Photo 5</h2>
            <span>desc</span>
          </div>
        </div>
        <div class="link-block">
          <picture class="img-fluid">
            <source media="(min-width: 800px)" srcset="/images/1900x1200_13.jpg, /images.1900x1200_13-2x.jpg 2x">
            <source media="(min-width: 450px)" srcset="/images/1900x1200_13-small.jpg, /images.1900x1200_13-small-2x.jpg 2x">
            <img src="/images/1900x1200_13.jpg" alt="alt text">
          </picture>
          <div class="slide-text">
            <h2>Photo 6</h2>
            <span>desc</span>
          </div>
        </div>
        <div class="link-block">
          <picture class="img-fluid">
            <source media="(min-width: 800px)" srcset="/images/1900x1200_14.jpg, /images.1900x1200_14-2x.jpg 2x">
            <source media="(min-width: 450px)" srcset="/images/1900x1200_14-small.jpg, /images.1900x1200_14-small-2x.jpg 2x">
            <img src="/images/1900x1200_14.jpg" alt="alt text">
          </picture>
          <div class="slide-text">
            <h2>Photo 7</h2>
            <span>desc</span>
          </div>
        </div>
        <div class="link-block">
          <picture class="img-fluid">
            <source media="(min-width: 800px)" srcset="/images/1900x1200_15.jpg, /images.1900x1200_15-2x.jpg 2x">
            <source media="(min-width: 450px)" srcset="/images/1900x1200_15-small.jpg, /images.1900x1200_15-small-2x.jpg 2x">
            <img src="/images/1900x1200_15.jpg" alt="alt text">
          </picture>
          <div class="slide-text">
            <h2>Photo 8</h2>
            <span>desc</span>
          </div>
        </div>
        <div class="link-block">
          <picture class="img-fluid">
            <source media="(min-width: 800px)" srcset="/images/1900x1200_16.jpg, /images.1900x1200_16-2x.jpg 2x">
            <source media="(min-width: 450px)" srcset="/images/1900x1200_16-small.jpg, /images.1900x1200_16-small-2x.jpg 2x">
            <img src="/images/1900x1200_16.jpg" alt="alt text">
          </picture>
          <div class="slide-text">
            <h2>Photo 9</h2>
            <span>desc</span>
          </div>
        </div>
        <div class="link-block">
          <picture class="img-fluid">
            <source media="(min-width: 800px)" srcset="/images/1900x1200_17.jpg, /images.1900x1200_17-2x.jpg 2x">
            <source media="(min-width: 450px)" srcset="/images/1900x1200_17-small.jpg, /images.1900x1200_17-small-2x.jpg 2x">
            <img src="/images/1900x1200_17.jpg" alt="alt text">
          </picture>
          <div class="slide-text">
            <h2>Photo 10</h2>
            <span>desc</span>
          </div>
        </div>
      </div>

    </section>
    <!-- END section -->

    
    <section class="pb_section pb_bg-half" data-section="practicing-areas" id="section-practicing-areas">
      <div class="container">
          
        <div class="row justify-content-md-center text-center mb-5">
          <div class="col-lg-7">
            <h2 class="mt-0 heading-border-top font-weight-normal">Cricket and Education</h2>
            <p>We have developed a curriculum that allows budding cricketers to receive intensive training for peak physical and mental performance, highly specialized coaching for cricketing skills and pursue educational certification programs for Class 10, Class 10+2 and different certified Diploma and Degree programs.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="single-item pb_slide_v2">
              <div>
                <div class="d-lg-flex d-md-block slide_content">
                  <div class="pb_content-media" style="background-image: url(/images/1900x1200_img_4.jpg);"></div>
                  <div class="slide_content-text text-center">
                    <div class="pb_icon_v1"><i class="flaticon text-primary flaticon-school"></i></div>
                    <h3 class="font-weight-normal mt-0 mb-4">Hostel</h3>
                    <p>County cricket academy is associated with nearby 6 CBSC schools at 4km to 5km from our hostel. Players from different states who joins the hostel after selection can choose 1 of the school from 6 options and CCA will get his admission done.</p>
                    <p>From class 7th to 12th (school is optional because school fee is not included in academy fee). CCA is associated with ISO certified distance learning centers like RSSA and 2 others located within 1km to 4 km from hostel, so if any player wants distance learning in any stream CCA provides the best possible solution. All degree courses available.</p>
                    <p>3 months, 6 months 1year, 1year 6 months and 2 year diploma courses available. So many times players have to play matches continuously for a long time so they miss months or a year of study. To fill the gap in between studies CCA provides the courses from distance learning ISO certified centers and regular too. (reasonable fee structure for all courses)</p>
                  </div>
                </div>
              </div>

              <div>
                <div class="d-lg-flex d-md-block slide_content">
                  <div class="pb_content-media" style="background-image: url(/images/1900x1200_8.jpg);"></div>
                  <div class="slide_content-text text-center">
                    <div class="pb_icon_v1"><i class="flaticon text-primary flaticon-cricket-ground"></i></div>
                    <h3 class="font-weight-normal mt-0 mb-4">Ground</h3>
                    <p>We have our own ground at Norht West, Hiranki, Delhi-36 (landmark Bakhtawar pur (Alipur)). Our ground boasts of lush green outfield (75 meters.) and national level playing wickets (proper turfing 8 months). Nets are also available if a team wishes to use our practice facility. For staging Events, Cricket tournaments, Friendly  matches and to avail Nets feel free to contact us.</p>
                    <p>Players who want to play One-day, T20, or Test matches can contact Mr. Pratap 9818804836, 9810529207.</p>
                  </div>
                </div>
              </div>

              <div>
                <div class="d-lg-flex d-md-block slide_content">
                  <div class="pb_content-media" style="background-image: url(/images/1900x1200_img_3.jpg);"></div>
                  <div class="slide_content-text text-center">
                    <div class="pb_icon_v1"><i class="flaticon text-primary flaticon-sports-and-competition"></i></div>
                    <h3 class="font-weight-normal mt-0 mb-4">Corporate Events</h3>
                    <p>We at the academy believe that corporate houses and sporting arenas have a lot in common, in terms of  development of competitiveness and hence we endeavor to promote and manage events and matches to suit the needs of different organisation.</p>
                  </div>
                </div>
              </div>

              <div>
                <div class="d-lg-flex d-md-block slide_content">
                  <div class="pb_content-media" style="background-image: url(/images/1900x1200_1.jpg);"></div>
                  <div class="slide_content-text text-center">
                    <div class="pb_icon_v1"><i class="flaticon text-primary flaticon-team"></i></div>
                    <h3 class="font-weight-normal mt-0 mb-4">Player Management</h3>
                    <p>It is our priority to continue to provide high qualities of playing, training and coaching environment for aspiring cricketers and also to prepare the young talent like Virat Kohli and Bhuvneshwar Kumar to tackle the pressures of this game.</p>
                  </div>
                </div>
              </div>

              <div>
                <div class="d-lg-flex d-md-block slide_content">
                  <div class="pb_content-media" style="background-image: url(/images/1900x1200_18.jpg);"></div>
                  <div class="slide_content-text text-center">
                    <div class="pb_icon_v1"><i class="flaticon text-primary flaticon-school-2"></i></div>
                    <h3 class="font-weight-normal mt-0 mb-4">Sports Academy</h3>
                    <p>Team work is the key word. We, the county cricket academy team, believe that team work and discipline define success in any game format and we are driven to achieve this goal. </p>
                    <p>Developing and promoting the game of cricket has been our priority and nurturing the talented young players to reach national standards is our ultimate reward. We have started with cricket but soon will be adding more sports under our umbrella. </p>
                    <p>North West, Hiranki, Delhi-36 (landmark Bakhtawar pur (Alipur)) is our venue where cricket coaching is imparted by some of the best coaches available.</p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>  
    </section>
    <!-- END section -->


    <!-- END section -->

    <section class="pb_section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg">

            <div class="media pb_media_v1 mb-5">
              <div class="icon border border-gray rounded-circle d-flex mr-3 display-4 text-primary"><i class="flaticon flaticon-cricket"></i></div>
              <div class="media-body">
                <h3 class="mt-0 pb_font-17">Dedicated 1 net for 3 players only.</h3>
                <p class="pb_font-14">Grip, stance, back-lift, downswing, vertical and horizontal defensive and attacking shots,running between the wickets for batsman..</p>
              </div>
            </div>

          </div>
          <div class="col-lg">
            <div class="media pb_media_v1 mb-5">
              <div class="icon border border-gray rounded-circle d-flex mr-3 display-4 text-primary"><i class="flaticon flaticon-gun"></i></div>
              <div class="media-body">
                <h3 class="mt-0 pb_font-17">Speed Gun</h3>
                <p class="pb_font-14">Knowing how fast a player pitches or runs can instantly influence a coaching decision. We have all the right tools.</p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="media pb_media_v1 mb-5">
              <div class="icon border border-gray rounded-circle d-flex mr-3 display-4 text-primary"><i class="flaticon flaticon-cricket-1"></i></div>
              <div class="media-body">
                <h3 class="mt-0 pb_font-17">League matches or exposure of at least 4 states</h3>
                <p class="pb_font-14">.Playing under 4 extreme weather conditions, 55 other state matches(Test, One-day, T20)</p>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-lg">

            <div class="media pb_media_v1 mb-5">
              <div class="icon border border-gray rounded-circle d-flex mr-3 display-4 text-primary"><i class="flaticon flaticon-cricket-2"></i></div>
              <div class="media-body">
                <h3 class="mt-0 pb_font-17">Net practice</h3>
                <p class="pb_font-14">On turf, mat and cemented wickets everyday (7 days a week). Personalized tablets (pc) to every individual for video analysis.</p>
              </div>
            </div>

          </div>
          <div class="col-lg">
            <div class="media pb_media_v1 mb-5">
              <div class="icon border border-gray rounded-circle d-flex mr-3 display-4 text-primary"><i class="flaticon flaticon-school"></i></div>
              <div class="media-body">
                <h3 class="mt-0 pb_font-17">Hostel facility</h3>
                <p class="pb_font-14">Specious rooms along with great environment. Healthy and nutritious food.</p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="media pb_media_v1 mb-5">
              
              <div class="icon border border-gray rounded-circle d-flex mr-3 display-4 text-primary"><i class="flaticon flaticon-relationship"></i></div>
              <div class="media-body">
                <h3 class="mt-0 pb_font-17">Associated with different state academies.</h3>
                <p class="pb_font-14">We are recognized by DDCA(Delhi and District Cricket Association).</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    
    
    <section class="pb_section" data-section="contact" id="section-contact">
      <div class="container">

        <div class="row justify-content-md-center text-center mb-5">
          <div class="col-lg-7">
            <h2 class="mt-0 heading-border-top font-weight-normal">Get In Touch</h2>
            <p>We are here to facilitate individuals and teams to play the game better, and to help them hit their target. We'd love to hear from you!</p>
          </div>
        </div>

        
        <div class="row">
          <div class="col-md-8 pr-md-5 pr-sm-0 mb-4">
            <form id="new-message-form" action="#">
              <div class="row">
                <div class="col-md">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control p-3 rounded-0" name="name" id="new-message-name">
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control p-3 rounded-0" name="email" id="new-message-email">
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label for="message">Message</label>
                <textarea cols="30" rows="10" class="form-control p-3 rounded-0" name="message" id="new-message-message"></textarea>
              </div>
              <div class="form-group">
                <input id="new-message-button" type="submit" class="btn pb_outline-dark pb_font-13 pb_letter-spacing-2 p-3 rounded-0" value="Send Message">
              </div>
            </form>
          </div>
          <div class="col-md-4">
            <ul class="pb_contact_details_v1">
              <li>
                <span class="text-uppercase">Email</span>
                hi@countysports.in
              </li>
              <li>
                <span class="text-uppercase">Phone</span>
                98105 29207, 76786 80335
              </li>
              <li>
                <span class="text-uppercase">Address</span>
                G.T Karnal Road, Hiranki <br> 
                Bakhtawar Pur, Ali Pur Police Staion <br> 
                North-West Delhi, Delhi 110036
              </li>
            </ul>
          </div>
        </div>
        
      </div>
    </section>
    <!-- END section -->

    <footer class="pb_footer bg-light" role="contentinfo">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://www.facebook.com/countycricketacademy/" target="_blank" class="p-2"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p class="pb_font-14">&copy; 2019 <a href="https://countysports.in/">County Cricket Academy</a>. All Rights Reserved. Designed by <a href="https://sdiot.io/"><span style="color: #00CCFF;" >SD</span><span style="color: #FF9832;">IoT</span> <span style="color: #00CCFF;">Technologies</span></a>.</p>
          </div>
        </div>
      </div>
    </footer>
    <div class="pb_font-14 text-center">Icons made by <a href="https://www.flaticon.com/authors/vignesh-oviyan" title="Vignesh Oviyan">Vignesh Oviyan</a>, <a href="https://www.flaticon.com/authors/zlatko-najdenovski" title="Zlatko Najdenovski">Zlatko Najdenovski</a>, <a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong">mynamepong</a>, <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a>, <a href="https://www.flaticon.com/authors/geotatah" title="geotatah">geotatah</a>, <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>, <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> and <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a></div>
    <!-- loader -->
    <div id="pb_loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#FDA04F"/></svg></div>


    <script src="/js/jquery.min.js"></script>
    
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>

    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>

    <script src="/js/main.js"></script>
    <script src="/js/message.js"></script>

	</body>
</html>